@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
::-webkit-scrollbar-track {
  background: transparent; 
 }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90,0.5)
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }