@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
html{
    background-color: white;
    color: black;
}
}
@media (prefers-color-scheme: dark) {
    html{
        background-color: rgba(31,41,55);
        color: white;
    }
    }